@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Mangro';
  src: url('./assets/fonts/mangro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jedira';
  src: url('./assets/fonts/Jedira-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.font-jedira {
  font-family: 'Jedira', sans-serif;
}
:root {
  font-family: "Heebo", sans-serif;
  overflow-x: hidden;
  scrollbar-width: none;
}